<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../Imagens/favicon.ico" />
    <title>Museu Digital</title>
    <link rel="stylesheet" href="../Css/style.css" />
  </head>
  <body>
    <div class="pai">
      <div class="login">
        <h1>Login</h1>
        <form action="">
          <br />
          <input type="text" placeholder="Nome" /><br /><br />
          <input type="password" placeholder="Senha" /><br /><br />
          <input type="submit" value="Entrar" />
        </form>
        <a href="Criar.html">Não tenho uma conta</a>
      </div>
    </div>
  </body>
</html>
