<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../Imagens/favicon.ico" />
    <title>Dinossauros</title>
    <link rel="stylesheet" href="../Css/style.css" />
  </head>
  <body>
    <div class="Dinos">
      <h1>Dinossauros em exibição</h1>
      <div class="Dino1">
        <img src="../Imagens/dino/Allosaurus.png" alt="primeiro dino" />
        <div class="Descricao1">
          <h1>Dino1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
            quia? Sit quam nam unde cupiditate iste distinctio perspiciatis hic
            animi ipsa rem? Ratione veniam culpa totam, voluptate illum nulla
            quidem?
          </p>
        </div>
      </div>
      <div class="Dino2">
        <div class="Descricao2">
          <h1>Dino2</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
            quia? Sit quam nam unde cupiditate iste distinctio perspiciatis hic
            animi ipsa rem? Ratione veniam culpa totam, voluptate illum nulla
            quidem?
          </p>
        </div>
        <img src="../Imagens/dino/Ankylosaurus.png" alt="primeiro dino" />
      </div>
    </div>
  </body>
</html>
