* {
  background-color: black;
  color: white;
}

.titulo {
  text-align: center;
}

.Dino1 {
  display: flex;
  padding-top: 100px;

  img {
    width: 500px;
  }

  .Descricao1 {
    margin-right: 500px;
    padding: 10px;
  }
}

.Dino2 {
  display: flex;
  padding-left: 500px;

  img {
    width: 500px;
  }

  .Descricao2 {
    text-align: right;
    padding: 10px;
  }
}



.Dino3 {
  display: flex;
  padding-top: 100px;

  img {
    width: 500px;
  }

  .Descricao3 {
    margin-right: 500px;
    padding: 10px;
  }
}

.Dino4 {
  display: flex;
  padding-left: 500px;

  img {
    width: 500px;
  }

  .Descricao4 {
    text-align: right;
    padding: 10px;
  }
}


.Dino5 {
  display: flex;
  padding-top: 100px;

  img {
    width: 500px;
  }

  .Descricao5 {
    margin-right: 500px;
    padding: 10px;
  }
}

.Dino6 {
  display: flex;
  padding-left: 500px;

  img {
    width: 500px;
  }

  .Descricao6 {
    text-align: right;
    padding: 10px;
  }
}



.Dino7 {
  display: flex;
  padding-top: 100px;

  img {
    width: 500px;
  }

  .Descricao7 {
    margin-right: 500px;
    padding: 10px;
  }
}

.Dino8 {
  display: flex;
  padding-left: 500px;

  img {
    width: 500px;
  }

  .Descricao8 {
    text-align: right;
    padding: 10px;
  }
}
